body {
    background-color:#F0EFEC;
}

.cards {
    display: grid;
    background-color: white;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
    column-gap: 20px;
    align-items: center; 
    justify-content: center;
    justify-items: normal;
}


span {
    color: black;
}


.header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width 160px;
    align-items: center; 
    justify-content: center;
    justify-items: normal;
    
}

img {
    width: 100%;
}


.wrap {
    width: 900px;
    margin-top: 40px;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
}
