body {
    background-color:#F0EFEC;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
    column-gap: 20px;
    align-items: center; 
    justify-content: center;
    justify-items: normal;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
}


span {
    color: black;
}


.header {
    display: grid;
    grid-template-columns: 50% 50%;
    column-gap: 10px;
    width: 320px;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    align-content: center;
}

.mystery-card {
    padding: 10px;
    background-color: white;
    border-radius: 100%;
    width: 100%;
    box-shadow: 1px 1px 10px #00000065;
    text-align: center;
}
   
img {
    width: 100%;
}

.wrap {
    width: 900px;
    margin-top: 40px;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
}

.card {
    padding: 10px;
    border-radius: 6px;
    background-color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: 1px 1px 10px #00000065;
    cursor: pointer;
    text-align: center; 
}

.card:hover {
    padding: 6px;
    border-radius: 6px;
    background-color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: 1px 1px 10px #00000065;
    transition: 0.5s;
}

.instructions {
    border-style: solid;
    border-color: white;
    border-width: 4px;
    padding: 20px;
}

span {
    font-weight: bold;
    text-align: center;
}

h2 {
    text-align: center;
}

.eliminated {
    opacity: 20%;
}
